{% extends 'layouts/base.html' %}
{% load i18n %}


{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% csrf_token %}
    <!-- Header -->
    

    <div class="row">
      <div class="col-lg-12">
          {{ my_map | safe }}
      </div>
      
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
